.App {
  text-align: center;
}

.App-logo {
  padding-top: 2em;
  height: 80px;
}

.App-header {
  background-color: green;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-body {
  margin-top: 5em;
}

.Vendor-Section {
  float: left;
  margin-left: 3em;
}

.Account-Section {
  float: right;
  margin-right: 3em;
}

button {
  font-size: large;
  width: 15em;
  height: 2em;
  border-radius: 5px;
  margin: 10px;
}
